/.vs/TestQuala/FileContentIndex/0b2f14bc-abae-4c41-aa3a-0c711948d978.vsidx
/.vs/TestQuala/FileContentIndex/1571cf36-fa7c-4fdb-8b51-7b63b2b196c8.vsidx
/.vs/TestQuala/FileContentIndex/28fcdf4d-4d5a-456c-b12a-bbcf3233470c.vsidx
/.vs/TestQuala/FileContentIndex/57588b5f-a2c2-4611-bfc4-a0e45a1ce1f9.vsidx
/.vs/TestQuala/FileContentIndex/910160a8-0200-4730-9be8-f882e783708d.vsidx
/.vs/TestQuala/FileContentIndex/a071e778-0206-44b4-b990-be80a6ab00ae.vsidx
/.vs/TestQuala/FileContentIndex/cc24ff54-b871-4bee-a3ac-f17d1979930e.vsidx
/.vs/TestQuala/v17/.suo
/TestQuala.Api/bin/Debug/net6.0/appsettings.json
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.deps.json
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.pdb
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Domain.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Domain.pdb
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Infrastructure.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Infrastructure.pdb
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.assets.cache
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.csproj.AssemblyReference.cache
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.csproj.FileListAbsolute.txt
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.dll
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.pdb
/TestQuala.Api/obj/project.assets.json
/TestQuala.Api/obj/project.nuget.cache
/TestQuala.Api/obj/TestQuala.Api.csproj.nuget.dgspec.json
/.vs/TestQuala/DesignTimeBuild/.dtbcache.v2
/.vs/TestQuala/v17/.suo
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.pdb
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Application.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Application.pdb
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Infrastructure.dll
/TestQuala.Api/obj/Debug/net6.0/ref/TestQuala.Api.dll
/TestQuala.Api/obj/Debug/net6.0/refint/TestQuala.Api.dll
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.csproj.AssemblyReference.cache
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.dll
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.pdb
/TestQuala.Application/bin/Debug/net6.0/TestQuala.Application.dll
/TestQuala.Application/bin/Debug/net6.0/TestQuala.Application.pdb
/TestQuala.Infrastructure/obj/Debug/net6.0/ref/TestQuala.Infrastructure.dll
/TestQuala.Infrastructure/obj/Debug/net6.0/refint/TestQuala.Infrastructure.dll
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.csproj.AssemblyReference.cache
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.csproj.CoreCompileInputs.cache
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.dll
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.pdb
/TestQuala.Application/obj/Debug/net6.0/ref/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/refint/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.csproj.CoreCompileInputs.cache
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.pdb
/TestQuala.Application/obj/Debug/net6.0/ref/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/refint/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.csproj.AssemblyReference.cache
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.csproj.CoreCompileInputs.cache
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.csproj.FileListAbsolute.txt
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.pdb
/TestQuala.Infrastructure/bin/Debug/net6.0/TestQuala.Application.dll
/TestQuala.Infrastructure/bin/Debug/net6.0/TestQuala.Application.pdb
/TestQuala.Infrastructure/bin/Debug/net6.0/TestQuala.Infrastructure.dll
/TestQuala.Infrastructure/bin/Debug/net6.0/TestQuala.Infrastructure.pdb
/TestQuala.Infrastructure/obj/Debug/net6.0/ref/TestQuala.Infrastructure.dll
/TestQuala.Infrastructure/obj/Debug/net6.0/refint/TestQuala.Infrastructure.dll
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.csproj.AssemblyReference.cache
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.csproj.CoreCompileInputs.cache
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.csproj.FileListAbsolute.txt
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.dll
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.pdb
/.vs/TestQuala/v17/.suo
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.pdb
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Application.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Application.pdb
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Infrastructure.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Infrastructure.pdb
/.vs/TestQuala/DesignTimeBuild/.dtbcache.v2
/.vs/TestQuala/FileContentIndex/3516b321-3466-49da-a204-0a3c5a962dfb.vsidx
/.vs/TestQuala/FileContentIndex/66b44bb4-899c-4022-8438-85cc63468bf8.vsidx
/.vs/TestQuala/FileContentIndex/d15c2522-c881-4a80-aee7-235d501761ff.vsidx
/.vs/TestQuala/FileContentIndex/d3b58795-3c63-46cb-8500-ca84dad79ae0.vsidx
/.vs/TestQuala/FileContentIndex/f20dbf6b-3fdd-4d09-bc53-2b43f5f19c56.vsidx
/.vs/TestQuala/FileContentIndex/fc2d1b25-f2c7-42d1-97a5-10da19fca518.vsidx
/TestQuala.Application/obj/Debug/net6.0/ref/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/refint/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.csproj.AssemblyReference.cache
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.csproj.CoreCompileInputs.cache
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.csproj.FileListAbsolute.txt
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.dll
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.pdb
/TestQuala.Api/obj/Debug/net6.0/ref/TestQuala.Api.dll
/TestQuala.Api/obj/Debug/net6.0/refint/TestQuala.Api.dll
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.csproj.AssemblyReference.cache
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.csproj.FileListAbsolute.txt
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.dll
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.MvcApplicationPartsAssemblyInfo.cs
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.pdb
/TestQuala.Application/bin/Debug/net6.0/TestQuala.Application.dll
/TestQuala.Application/bin/Debug/net6.0/TestQuala.Application.pdb
/.vs/TestQuala/FileContentIndex/032694ee-8faf-4982-a485-5a56702f434a.vsidx
/.vs/TestQuala/FileContentIndex/3516b321-3466-49da-a204-0a3c5a962dfb.vsidx
/.vs/TestQuala/FileContentIndex/3ee1875d-22f2-43f3-bac5-436139c15574.vsidx
/.vs/TestQuala/FileContentIndex/52a3874f-3bbf-448b-92c3-654cb6f210c9.vsidx
/.vs/TestQuala/FileContentIndex/52f3bd70-89fc-4191-b575-dddf5da699ec.vsidx
/.vs/TestQuala/FileContentIndex/66b44bb4-899c-4022-8438-85cc63468bf8.vsidx
/.vs/TestQuala/FileContentIndex/6a322f50-9d54-4929-83ad-597cd3c6561a.vsidx
/.vs/TestQuala/FileContentIndex/fc2d1b25-f2c7-42d1-97a5-10da19fca518.vsidx
/.vs/TestQuala/v17/.suo
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.csproj.AssemblyReference.cache
/TestQuala.Application/obj/Debug/net6.0/TestQuala.Application.csproj.AssemblyReference.cache
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.csproj.AssemblyReference.cache
/TestQuala.Infrastructure/obj/Debug/net6.0/TestQuala.Infrastructure.csproj.CoreCompileInputs.cache
