/.vs/TestQuala/FileContentIndex/
/.vs/TestQuala/v17/.suo
/TestQuala.Api/bin/Debug
/TestQuala.Application/bin
/TestQuala.Infrastructure/bin/Debug
/TestQuala.Api/bin/Debug
/.vs/TestQuala/DesignTimeBuild/.dtbcache.v2
/.vs/TestQuala/FileContentIndex
/TestQuala.Application/obj/Debug
/TestQuala.Api/obj/Debug
/TestQuala.Application/bin
/TestQuala.Application/bin/Debug/net6.0/TestQuala.Application.pdb
/TestQuala.Api/obj/Debug
/TestQuala.Application/obj
/TestQuala.Infrastructure/obj/Debug