/.vs/TestQuala/FileContentIndex/0b2f14bc-abae-4c41-aa3a-0c711948d978.vsidx
/.vs/TestQuala/FileContentIndex/1571cf36-fa7c-4fdb-8b51-7b63b2b196c8.vsidx
/.vs/TestQuala/FileContentIndex/28fcdf4d-4d5a-456c-b12a-bbcf3233470c.vsidx
/.vs/TestQuala/FileContentIndex/57588b5f-a2c2-4611-bfc4-a0e45a1ce1f9.vsidx
/.vs/TestQuala/FileContentIndex/910160a8-0200-4730-9be8-f882e783708d.vsidx
/.vs/TestQuala/FileContentIndex/a071e778-0206-44b4-b990-be80a6ab00ae.vsidx
/.vs/TestQuala/FileContentIndex/cc24ff54-b871-4bee-a3ac-f17d1979930e.vsidx
/.vs/TestQuala/v17/.suo
/TestQuala.Api/bin/Debug/net6.0/appsettings.json
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.deps.json
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Api.pdb
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Domain.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Domain.pdb
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Infrastructure.dll
/TestQuala.Api/bin/Debug/net6.0/TestQuala.Infrastructure.pdb
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.assets.cache
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.csproj.AssemblyReference.cache
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.csproj.FileListAbsolute.txt
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.dll
/TestQuala.Api/obj/Debug/net6.0/TestQuala.Api.pdb
/TestQuala.Api/obj/project.assets.json
/TestQuala.Api/obj/project.nuget.cache
/TestQuala.Api/obj/TestQuala.Api.csproj.nuget.dgspec.json
